BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 10px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #333; PADDING-TOP: 0px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #fff; TEXT-ALIGN: center;
}
#mkwrapper {
	MARGIN: 0px auto; TEXT-ALIGN: left
}
#mklogostrip {
	BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: left
}
TABLE {
	FONT-SIZE: 10px; COLOR: #333; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
}
TR {
	FONT-SIZE: 10px; COLOR: #333; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
TD {
	FONT-SIZE: 10px; COLOR: #333; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.tdglobal {
	FONT-SIZE: 10px; COLOR: #333; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff
}
.tabmain {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
.trattini {
	COLOR: #333; BACKGROUND-COLOR: #ffffff
}
.tabmain {
	FONT-SIZE: 12px; COLOR: #000
}
.tabmain2 {
	FONT-SIZE: 12px; COLOR: #000; BACKGROUND-REPEAT: repeat-x
}
.tablemenu {
	COLOR: #333; BACKGROUND-COLOR: #fcfcfc
}
.taburlo {
	COLOR: #333; BACKGROUND-COLOR: #ffffff
}
.navigatore {
	COLOR: #000000
}
.tdblock {
	/*COLOR: #000*/
	background-color: #FFFFFF;
}
.sottotitolo {
	PADDING-BOTTOM: 4px; COLOR: #fbfbfb
}
.tablemenu {
	BORDER-RIGHT: #ebebeb 0px solid; BORDER-TOP: #ebebeb 0px solid; BORDER-LEFT: #ebebeb 0px solid; BORDER-BOTTOM: #ebebeb 0px solid
}
.taburlo {
	BORDER-RIGHT: #ebebeb 1px solid; BORDER-TOP: #ebebeb 1px solid; BORDER-LEFT: #ebebeb 1px solid; BORDER-BOTTOM: #ebebeb 1px solid
}
.trattini {
	BORDER-RIGHT: #ebebeb 1px solid; BORDER-TOP: #ebebeb 1px solid; BORDER-LEFT: #ebebeb 1px solid; BORDER-BOTTOM: #ebebeb 1px solid
}
.trattini2 {
	BORDER-RIGHT: #ebebeb 1px solid; BORDER-TOP: #ebebeb 1px solid; BORDER-LEFT: #ebebeb 1px solid; BORDER-BOTTOM: #ebebeb 1px solid
}
.trattini3 {
	BORDER-RIGHT: #ebebeb 1px solid; BORDER-TOP: #ebebeb 1px solid; BORDER-LEFT: #ebebeb 1px solid; BORDER-BOTTOM: #ebebeb 1px solid
}
.trattini {
	BORDER-TOP: 1px dashed; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
.trattini2 {
	BORDER-TOP-WIDTH: 0px; BORDER-RIGHT: 1px dashed; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px
}
.trattini3 {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM: 1px dashed; BORDER-RIGHT-WIDTH: 0px
}
A {
	COLOR: #333; TEXT-DECORATION: none
}
A:hover {
	COLOR: #ffa633
}
.tablemenu A:link {
	COLOR: #333333; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A:visited {
	COLOR: #333333; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.tablemenu A:hover {
	COLOR: #ffa633; TEXT-DECORATION: underline
}
.tablemenu A:active {
	TEXT-DECORATION: none
}
.mktxtcontr {
	FONT-WEIGHT: bold; COLOR: #ff0000; TEXT-DECORATION: none
}
A.mktxtcontr:link {
	FONT-WEIGHT: bold; COLOR: #ff0000; TEXT-DECORATION: none
}
A.mktxtcontr:visited {
	FONT-WEIGHT: bold; COLOR: #ff0000; TEXT-DECORATION: none
}
A.mktxtcontr:hover {
	FONT-WEIGHT: bold; TEXT-DECORATION: underline
}
.mktxtcontr2 {
	FONT-WEIGHT: bold; COLOR: #0000ff; TEXT-DECORATION: none
}
A.mktxtcontr2:link {
	FONT-WEIGHT: bold; COLOR: #0000ff; TEXT-DECORATION: none
}
A.mktxtcontr2:visited {
	FONT-WEIGHT: bold; COLOR: #0000ff; TEXT-DECORATION: none
}
A.mktxtcontr2:hover {
	FONT-WEIGHT: bold; TEXT-DECORATION: underline
}
INPUT {
	BORDER-RIGHT: #475b6b 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #475b6b 1px solid; PADDING-LEFT: 2px; FONT-SIZE: 12px; PADDING-BOTTOM: 2px; MARGIN: 3px; BORDER-LEFT: #475b6b 1px solid; COLOR: #000000; PADDING-TOP: 2px; BORDER-BOTTOM: #475b6b 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #fff
}
TEXTAREA {
	BORDER-RIGHT: #475b6b 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #475b6b 1px solid; PADDING-LEFT: 2px; FONT-SIZE: 12px; PADDING-BOTTOM: 2px; MARGIN: 3px; BORDER-LEFT: #475b6b 1px solid; COLOR: #000000; PADDING-TOP: 2px; BORDER-BOTTOM: #475b6b 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #fff
}
SELECT {
	BORDER-RIGHT: #475b6b 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #475b6b 1px solid; PADDING-LEFT: 2px; FONT-SIZE: 12px; PADDING-BOTTOM: 2px; MARGIN: 3px; BORDER-LEFT: #475b6b 1px solid; COLOR: #000000; PADDING-TOP: 2px; BORDER-BOTTOM: #475b6b 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #fff
}
.bgselect {
	BORDER-RIGHT: #475b6b 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #475b6b 1px solid; PADDING-LEFT: 2px; FONT-SIZE: 12px; PADDING-BOTTOM: 2px; MARGIN: 3px; BORDER-LEFT: #475b6b 1px solid; COLOR: #000000; PADDING-TOP: 2px; BORDER-BOTTOM: #475b6b 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #fff
}
.mkbutton {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 10px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: middle; COLOR: #000000; PADDING-TOP: 0px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ebebeb
}
.blsubmit {
	BORDER-RIGHT: #9cf 2px outset; BORDER-TOP: #9cf 2px outset; BORDER-LEFT: #9cf 2px outset; BORDER-BOTTOM: #9cf 2px outset
}
.mkbutton {
	BORDER-RIGHT: #9cf 2px outset; BORDER-TOP: #9cf 2px outset; BORDER-LEFT: #9cf 2px outset; BORDER-BOTTOM: #9cf 2px outset
}
.mkradio {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
TEXTAREA.mkwrap1 {
	OVERFLOW: auto; WIDTH: 100%
}
TEXTAREA.mkwrap2 {
	OVERFLOW: auto; WIDTH: 500px
}
.mkblkinput {
	BORDER-RIGHT: #808080 1px dashed; BORDER-TOP: #808080 1px dashed; FONT-WEIGHT: normal; FONT-SIZE: 9px; MARGIN: 2px; BORDER-LEFT: #808080 1px dashed; BORDER-BOTTOM: #808080 1px dashed; BACKGROUND-COLOR: #fff
}
.navigatore {
	FONT-WEIGHT: 300; FONT-SIZE: 9px; VERTICAL-ALIGN: bottom; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: right
}
.blocks {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.tdmenblock {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: top; PADDING-TOP: 0px
}
.tdblock {
	BORDER-RIGHT: #ffffff 1px solid; BORDER-TOP: #ffffff 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 10px; MARGIN: 2px; BORDER-LEFT: #ffffff 1px solid; BORDER-BOTTOM: #ffffff 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.sottotitolo {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: left
}
.tdspacer {
	LINE-HEIGHT: 3px
}
.modulex {
	HEIGHT: 25px
}
TH.modulex {
	BORDER-RIGHT: #efede0 1px solid; BORDER-TOP: #efede0 1px solid; BACKGROUND: url(tile_sub.gif) repeat-x; BORDER-LEFT: #efede0 1px solid; BORDER-BOTTOM: #efede0 1px solid; WHITE-SPACE: nowrap; HEIGHT: 25px
}
.modulelite {
	FONT-SIZE: 8pt; COLOR: #a6bbcd
}
.contents {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px
}
.mkpagelink {
	BORDER-RIGHT: #072a66 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #072a66 1px solid; PADDING-LEFT: 3px; FONT-WEIGHT: normal; PADDING-BOTTOM: 1px; BORDER-LEFT: #072a66 1px solid; COLOR: #000; PADDING-TOP: 1px; BORDER-BOTTOM: #072a66 1px solid; BACKGROUND-COLOR: #f0f5fa
}
.mkpagelinklast {
	BORDER-RIGHT: #072a66 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #072a66 1px solid; PADDING-LEFT: 3px; FONT-WEIGHT: normal; PADDING-BOTTOM: 1px; BORDER-LEFT: #072a66 1px solid; COLOR: #000; PADDING-TOP: 1px; BORDER-BOTTOM: #072a66 1px solid; BACKGROUND-COLOR: #ebebeb
}
.mkpagecurrent {
	BORDER-RIGHT: #072a66 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #072a66 1px solid; PADDING-LEFT: 3px; FONT-WEIGHT: normal; PADDING-BOTTOM: 1px; BORDER-LEFT: #072a66 1px solid; COLOR: #000; PADDING-TOP: 1px; BORDER-BOTTOM: #072a66 1px solid; BACKGROUND-COLOR: #ffc9a5
}
DIV.taburlo {
	WIDTH: 100%
}
TD.taburlo {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 5px; PADDING-LEFT: 5px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 5px; MARGIN: 5px; PADDING-TOP: 5px; BORDER-RIGHT-WIDTH: 0px
}
#urlo {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; FONT-SIZE: 9px; PADDING-BOTTOM: 4px; VERTICAL-ALIGN: bottom; COLOR: #346f89; LINE-HEIGHT: 40px; PADDING-TOP: 4px
}
#urloimg IMG {
	BORDER-RIGHT: #e7effe 1px solid; BORDER-TOP: #e7effe 1px solid; VERTICAL-ALIGN: middle; BORDER-LEFT: #e7effe 1px solid; BORDER-BOTTOM: #e7effe 1px solid; BACKGROUND-COLOR: #a6cbfa
}
#urlo2 {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; FONT-SIZE: 9px; PADDING-BOTTOM: 4px; COLOR: #333; PADDING-TOP: 4px
}
.urlocontrast {
	COLOR: #ffffff
}
.tabnews {
	BORDER-RIGHT: #e6e6e6 1px dashed; PADDING-RIGHT: 4px; BORDER-TOP: #e6e6e6 1px dashed; PADDING-LEFT: 4px; FONT-SIZE: 10px; PADDING-BOTTOM: 4px; MARGIN: 0px; BORDER-LEFT: #e6e6e6 1px dashed; COLOR: #000; PADDING-TOP: 4px; BORDER-BOTTOM: #e6e6e6 1px dashed; BACKGROUND-COLOR: #fff; TEXT-ALIGN: right
}
.tabnews1 {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 8px; MARGIN: 0px; COLOR: #0000CC; BACKGROUND-COLOR: #fff; TEXT-ALIGN: left
}
.tabnews2 {
	BORDER-RIGHT: #e6e6e6 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #e6e6e6 1px solid; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; MARGIN: 0px; BORDER-LEFT: #e6e6e6 1px solid; COLOR: #000; PADDING-TOP: 10px; BORDER-BOTTOM: #e6e6e6 1px solid; BACKGROUND-COLOR: #f7f7f7
}
.titadmin {
	BORDER-TOP: #ebebeb 1px dashed; FONT-WEIGHT: bold; FONT-SIZE: 11px; MARGIN: 0px; COLOR: #000000
}
.mkerror {
	FONT-WEIGHT: bold; FONT-SIZE: 12pt; COLOR: #ff0000
}
.mkquote {
	COLOR: #0000ff
}
.ecardtitle {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; TEXT-ALIGN: center
}
.mkquoteball {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 9px; PADDING-BOTTOM: 0px; COLOR: #333; PADDING-TOP: 0px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff
}
.mkquotetext {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 10px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #333; PADDING-TOP: 0px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff
}
TABLE .mkquotetable {
	WIDTH: auto; TEXT-ALIGN: left
}
A.uno:link {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #333333; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.uno-a A:link {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #333333; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.uno:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #333333; TEXT-DECORATION: none
}
.uno-a A:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #333333; TEXT-DECORATION: none
}
A.uno:hover {
	COLOR: #0000FF; TEXT-DECORATION: underline
}
.uno-a A:hover {
	COLOR: #ffa633; TEXT-DECORATION: underline
}
#uno-a {
	PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}
.uno-pad {
	PADDING-LEFT: 5px; PADDING-BOTTOM: 5px
}
#uno-a IMG {
	MARGIN: 1px 2px 1px 1px
}
#uno-a B {
	MARGIN: 2px; COLOR: #ff0000
}
.moduleborder {
	COLOR: #000000; BACKGROUND-COLOR: #f7f7f7
}
.modulebg-bg {
	BACKGROUND-COLOR: #e6e6e6
}
.modulebg {
	CLEAR: both; BORDER-RIGHT: #dfdfdf 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: #dfdfdf 1px solid; PADDING-LEFT: 8px; FONT-WEIGHT: bold; BACKGROUND: url(tile_cat.gif) repeat-x; PADDING-BOTTOM: 8px; BORDER-LEFT: #dfdfdf 1px solid; COLOR: #000; PADDING-TOP: 8px; BORDER-BOTTOM: #dfdfdf 1px solid
}
.modulecell {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; PADDING-BOTTOM: 8px; COLOR: #666; PADDING-TOP: 8px; BACKGROUND-COLOR: #ffffff
}
.modulecell2 {
	PADDING-RIGHT: 20px; PADDING-LEFT: 20px; FONT-SIZE: 11px; PADDING-BOTTOM: 20px; COLOR: #000; LINE-HEIGHT: 1.3em; PADDING-TOP: 20px; BACKGROUND-COLOR: #fffbef
}
.th-modulex {
	BORDER-RIGHT: #efede0 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #efede0 1px solid; PADDING-LEFT: 5px; FONT-WEIGHT: bold; BACKGROUND: url(tile_sub.gif) repeat-x; PADDING-BOTTOM: 5px; BORDER-LEFT: #efede0 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #efede0 1px solid; WHITE-SPACE: nowrap
}
.th-mod-simples {
	BORDER-RIGHT: #e6e6e6 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #e6e6e6 1px solid; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; BORDER-LEFT: #e6e6e6 1px solid; COLOR: #000; PADDING-TOP: 10px; BORDER-BOTTOM: #e6e6e6 1px solid; BACKGROUND-COLOR: #f7f7f7
}
.th-mod-simples IMG {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FLOAT: left; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
.th-tollbar {
	BORDER-RIGHT: #e6e6e6 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #e6e6e6 1px solid; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; BORDER-LEFT: #e6e6e6 1px solid; PADDING-TOP: 4px; BORDER-BOTTOM: #e6e6e6 1px solid; BACKGROUND-COLOR: #f7f7f7
}
.start {
	BACKGROUND-COLOR: #f7f7f7
}
.functions {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-WEIGHT: bold; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; TEXT-ALIGN: center
}
.box_topo {
	BACKGROUND-IMAGE: url(images/box3_05.png); BACKGROUND-REPEAT: repeat-x
}
.box_topo .css H2 {
	BACKGROUND-POSITION: right top; PADDING-LEFT: 40px; FONT-WEIGHT: bold; FONT-SIZE: 10px; BACKGROUND-IMAGE: url(images/m_dx.png); MARGIN: 0px; COLOR: #666; BACKGROUND-REPEAT: no-repeat; HEIGHT: 22px
}
.box_topo .css {
	BACKGROUND-POSITION: left top; BACKGROUND-IMAGE: url(images/m_sx.png); BACKGROUND-REPEAT: no-repeat
}
.box_meio {
	CLEAR: both
}

.box_td {
border:dotted;

}
.box_meio .LX {
	BACKGROUND-POSITION: left 50%; BACKGROUND-IMAGE: url(images/lat_sx.png); BACKGROUND-REPEAT: repeat-y;
}
.box_meio .RX {
	PADDING-RIGHT: 15px; BACKGROUND-POSITION: right 50%; PADDING-LEFT: 15px; BACKGROUND-IMAGE: url(images/lat_dx.png); PADDING-BOTTOM: 15px; PADDING-TOP: 15px; BACKGROUND-REPEAT: repeat-y
}
.box_bottom {
	BACKGROUND-IMAGE: url(images/m_sf2.png); COLOR: #ffffff; BACKGROUND-REPEAT: repeat-x
}
.box_bottom .css2 H2 {
	BACKGROUND-POSITION: right bottom; PADDING-LEFT: 40px; FONT-WEIGHT: bold; FONT-SIZE: 10px; BACKGROUND-IMAGE: url(images/m_dx2.png); MARGIN: 0px; COLOR: #ffffff; BACKGROUND-REPEAT: no-repeat; HEIGHT: 22px
}
.box_bottom .css2 {
	BACKGROUND-POSITION: left bottom; BACKGROUND-IMAGE: url(images/m_sx2.png); BACKGROUND-REPEAT: no-repeat
}
#footer {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 9px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px; WIDTH: 100%; COLOR: #333; PADDING-TOP: 0px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: center; background-color:#333333; color:#FFFFFF;
}
#footer A {
	COLOR: #fe9c1f; TEXT-DECORATION: underline
}
#footer A:hover {
	COLOR: #000; TEXT-DECORATION: none
}
.VisitPDS {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; BACKGROUND: #f5f5f5; FLOAT: left; PADDING-BOTTOM: 5px; MARGIN: 5px; PADDING-TOP: 5px
}
.MembPDS {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; BACKGROUND: #f5f5f5; PADDING-BOTTOM: 5px; MARGIN: 5px; WIDTH: 310px; PADDING-TOP: 5px
}

#demo-table {
  font: 100% Arial, Helvetica, sans-serif;
  background-color: #FFFFFF
  }
  
#demo-table > thead > tr:first-child > th {
  background-color:#FFFFFF;
  text-align:left;
  color:#0000CC;
  font-family:arial;
  font-size:14pt;
  font-weight:normal;
  line-height:100%;
  padding: 1px 1px 25px 1px;
  
  
  }
  
  
#demo-table th {
background-color: #0664CC;
color: #FFFFFF;
text-align: center;
font-family:100% Arial, Helvetica, sans-serif;
font-size:12px;
font-weight: bold;
padding-bottom: 10px;
padding-top: 10px; 


}  

#demo-table td {
background-color: #FFFFFF;
color: #333333;  
text-align:justify;
font-size:11px;
font-family:100% Arial, Helvetica, sans-serif;
padding-top: 10px;
padding-bottom: 10px;
border: 1px dashed;
margin-bottom: 15px;


}



